{{!-- test --}}
<div class="flex flex-row flex-wrap">
{{#each PokeCards as |PokeCard|}}
      <div class="flex flex-wrap relative px-1 py-2">
      <div class="absolute pt-6 pl-32 font-semibold">{{PokeCard.name}}</div>
      <div class="absolute sm:pl-9 sm:text-2xl sm:-mt-0 pl-8 -mt-2" style="padding-top: 61px;"><img src="https://picsum.photos/348/232" class="sm:w-full w-11/12"></div>
      <div class="absolute pt-80 pl-32 font-semibold">{{PokeCard.attack1name}}</div>
      <div class="absolute pt-80 pl-80">{{PokeCard.attack1damage}}</div>
      <div class="absolute pl-10 font-medium" style="padding-top: 340px;">{{PokeCard.attack1description}}</div>
      <div class="absolute pt-96 pl-32 font-semibold">{{PokeCard.attack2name}}</div>
      <div class="absolute pt-96 pl-80 ">{{PokeCard.attack2damage}}</div>
      <div class="absolute pl-10 font-medium" style="padding-top: 410px;">{{PokeCard.attack2description}}</div>
      <div class="absolute sm:pt-6 sm:pl-72 sm:text-2xl text-xl pl-64 pt-6"><span style="font-size: 12px" class="pl-4">HP</span>{{PokeCard.hp}}</div>
      <img src="{{PokeCard.type}}"></img>
      
      
      </div>
{{/each}}
</div>
 